*{
    margin: 0;
    padding: 0;
}
.w1000{
    width: 1000px;
    margin: 0 auto;
}
body{
    font: normal normal 14px/1.5;
    background-color: #eee;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* header start */
.header{
    width: 100%;
    height: 29px;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
    color: #666666;
    line-height: 29px;
}
.w1000 .w01{
    padding-right: 5px;
    padding-top: 6px;
    float: left;
}
.w1000 .w02{
    padding-top: 6px;
    padding-left: 17px;
}
.header span{
    font-size: 12px;
    margin: 0 auto;
    float: left;
}
.w1000 a{
    color: #666666;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}
/* header end */

/* logo start */
.logo{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.logo h1 a{
    background-image: url(./images/logo.png);
    display: block;
    width: 123px;
    height: 54px;
    text-indent: -9999em;
    margin-top: 10px;
    margin-right: 460px;
}
.logo .fr{
    float: right;
    margin-top: 50px;
    font-size: 15px;
}
.logo .fr a{
    margin-left: 40px;
    clear: both;
}
/* logo end */
/* main start */
.main{
    margin-top: 30px;
}
.main .w1000{
    background-color: #fff;
    height: 500px;
    border-radius: 15px;
}
.main .box{
    padding: 0 15px;
}

.main h1{
    font-size: 24px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.main hr{
    width: 970px;
    color: #e4e4e4;
}
.main .box img{
    margin-top: 25px;
}
form{
    padding-top: 27px;
    /* padding-bottom: 10px; */
}
form ul li{
    padding-bottom: 10px;
}
form .txt1{ 
    width: 250px;
    height: 34px;    
    border: 1px solid #666;
}
form .txt2{ 
    width: 130px;
    height: 34px;
    border: 1px solid #666;
}
form .lbl{ 
    width: 70px;
    display: inline-block;
    text-align: right; 
    font-size: 14px;
    padding-right: 20px;
}
form ul li .a1{
    background-image: url(./images/yanzhengma.png);
    width: 111px;
    height: 35px;
    display: block;
    text-indent: -9999em;
    float: right;
}
form ul li .a2{
    font-size: 14px;
    color: #f66;
}
.main .hq{
    width: 250px;
    height: 38px;
    background-color: #f66;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    margin-left: 90px;
}
.main .box1{
    margin-left: 90px;
    padding-top: 10px;
}
.main .box1 a{
    color: #f66;
    font-size: 14px;
}
/* main end */
/* leg start */
.leg{
    margin-top: 50px;
    width: 100%;
    height: 250px;
    background-color: #e2e2e2;
    color: #666;
}
.leg .w1000{
    padding-top: 45px;
    display: flex;
}
.mr200{
    margin-right: 190px;
}
.leg dl dd{
    margin-bottom: 25px;
    font-size: 14px;
}
.leg dl dd span{
    font-size: 16px;
    margin-left: 10px;
}
.leg dl .box2{
    margin-left: 65px;
}
.leg dl .box3{
    margin-right: 10px;
}
.leg p{
    margin-bottom: 10px;
}
.leg .erweima{
    margin-left: 35px;
}
.leg .foot{
    margin-bottom: 25px;
    text-align: center;
    background-color: #e2e2e2;
}
/* leg end */
/* footer start */
.footer{
    height: 64px;
    text-align: center; 
    background-color: #e2e2e2;
}
.footer span{
    padding-left: 10px;
    color: #666;
}
/* footer end */